<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<link href="{{ url_for('static', filename='css/dapp.css') }}" rel="stylesheet">
		<script async="" type="text/javascript" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
    <script type="text/javascript" async="" src="https://www.google.com/cse/cse.js?cx=012971019331610648934:m2tou3_miwy"></script>
	</head>
	<body>
		<div class="main">
			<center>
				<h1>
					Vote Now!
				</h1>

						<div class="slider">
							<form method="post" action="/" onsubmit="this.form.submit(); return false">
							<p>You Have {{TokenVal}} Team9 tokens to vote with</p>

							<table>
							<tr>
							<td>
								<input id="rangeinput1" name="slider1" type="range" min="0" max="100" value="{{SliderVal1}}" onchange="rangevalue1.value=value;"></input>
								<output type="text" id="rangevalue1" onchange="rangeinput1.value=value">{{SliderVal1}}</output>
								<label for="rangeinput">Team 1 - ACI</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput2" name="slider2" type="range" min="0" max="100" value="{{SliderVal2}}" onchange="rangevalue2.value=value;"></input>
								<output type="text" id="rangevalue2" onchange="rangeinput2.value=value">{{SliderVal2}}</output>
								<label for="rangeinput">Team 2 - 4C</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput3" name="slider3" type="range" min="0" max="100" value="{{SliderVal3}}" onchange="rangevalue3.value=value;"></input>
								<output type="text" id="rangevalue3" onchange="rangeinput3.value=value">{{SliderVal3}}</output>
								<label for="rangeinput">Team 3 - EPI-USE</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput4" name="slider4" type="range" min="0" max="100" value="{{SliderVal4}}" onchange="rangevalue4.value=value;"></input>
								<output type="text" id="rangevalue4" onchange="rangeinput4.value=value">{{SliderVal4}}</output>
								<label for="rangeinput">Team 4 - Entersekt - Google Home</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput5" name="slider5" type="range" min="0" max="100" value="{{SliderVal5}}" onchange="rangevalue5.value=value;"></input>
								<output type="text" id="rangevalue5" onchange="rangeinput5.value=value">{{SliderVal5}}</output>
								<label for="rangeinput">Team 5 - Entersekt - Web</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput6" name="slider6" type="range" min="0" max="100" value="{{SliderVal6}}" onchange="rangevalue6.value=value;"></input>
								<output type="text" id="rangevalue6" onchange="rangeinput6.value=value">{{SliderVal6}}</output>
								<label for="rangeinput">Team 6 - Amazon - Config</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput7" name="slider7" type="range" min="0" max="100" value="{{SliderVal7}}" onchange="rangevalue7.value=value;"></input>
								<output type="text" id="rangevalue7" onchange="rangeinput7.value=value">{{SliderVal7}}</output>
								<label for="rangeinput">Team 7 - Amazon - EC2</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput8" name="slider8" type="range" min="0" max="100" value="{{SliderVal8}}" onchange="rangevalue8.value=value;"></input>
								<output type="text" id="rangevalue8" onchange="rangeinput8.value=value">{{SliderVal8}}</output>
								<label for="rangeinput">Team 8 - Altron/Bytes - Workflow</label>
							</td>
							</tr>

							<tr>
							<td>
								<input id="rangeinput9" name="slider9" type="range" min="0" max="100" value="{{SliderVal9}}" onchange="rangevalue9.value=value;"></input>
								<output type="text" id="rangevalue9" onchange="rangeinput9.value=value">{{SliderVal9}}</output>
								<label for="rangeinput">Team 9 - Blockchain - Hashgraph</label>
							</td>
							</tr>

              <tr>
							<td>
								<input id="rangeinput10" name="slider10" type="range" min="0" max="100" value="{{SliderVal10}}" onchange="rangevalue10.value=value;"></input>
								<output type="text" id="rangevalue10" onchange="rangeinput10.value=value">{{SliderVal10}}</output>
								<label for="rangeinput">Team 10 - Crypto Twitter</label>
							</td>
							</tr>

							<script>
								var slideval1 = document.getElementById("rangeinput1");
								var slideval2 = document.getElementById("rangeinput2");
								var slideval3 = document.getElementById("rangeinput3");
								var slideval4 = document.getElementById("rangeinput4");
								var slideval5 = document.getElementById("rangeinput5");
								var slideval6 = document.getElementById("rangeinput6");
								var slideval7 = document.getElementById("rangeinput7");
								var slideval8 = document.getElementById("rangeinput8");
								var slideval9 = document.getElementById("rangeinput9");
								var slideval10 = document.getElementById("rangeinput10");

								var rangeval1 = document.getElementById("rangevalue1");
								var rangeval2 = document.getElementById("rangevalue2");
								var rangeval3 = document.getElementById("rangevalue3");
								var rangeval4 = document.getElementById("rangevalue4");
								var rangeval5 = document.getElementById("rangevalue5");
								var rangeval6 = document.getElementById("rangevalue6");
								var rangeval7 = document.getElementById("rangevalue7");
								var rangeval8 = document.getElementById("rangevalue8");
								var rangeval9 = document.getElementById("rangevalue9");
								var rangeval10 = document.getElementById("rangevalue10");

								rangeval1.innerHTML = slideval1.value;
								rangeval2.innerHTML = slideval2.value;
								rangeval3.innerHTML = slideval3.value;
								rangeval4.innerHTML = slideval4.value;
								rangeval5.innerHTML = slideval5.value;
								rangeval6.innerHTML = slideval6.value;
								rangeval7.innerHTML = slideval7.value;
								rangeval8.innerHTML = slideval8.value;
								rangeval9.innerHTML = slideval9.value;
								rangeval10.innerHTML = slideval10.value;

								slideval1.oninput = function() {
								    rangeval1.innerHTML = this.value;
								}
								slideval2.oninput = function() {
								    rangeval2.innerHTML = this.value;
								}
								slideval3.oninput = function() {
								    rangeval3.innerHTML = this.value;
								}
								slideval4.oninput = function() {
								    rangeval4.innerHTML = this.value;
								}
								slideval5.oninput = function() {
								    rangeval5.innerHTML = this.value;
								}
								slideval6.oninput = function() {
								    rangeval6.innerHTML = this.value;
								}
								slideval7.oninput = function() {
								    rangeval7.innerHTML = this.value;
								}
								slideval8.oninput = function() {
								    rangeval8.innerHTML = this.value;
								}
								slideval9.oninput = function() {
								    rangeval9.innerHTML = this.value;
								}
								slideval10.oninput = function() {
								    rangeval10.innerHTML = this.value;
								}

							</script>

							</table>
						<div class="button">
						<input id="button" type="submit" name="Clear" value="Clear">
						<input id="button" type="submit" name="Vote" value="Vote">
					</div>
					</form>
				</div>

			</center>
		</div>
	</body>
</html>
