<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			<center>
				<h1>
					Hashgraph Visualiser
				</h1>

				<div id="chart" class="chart">

					<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
					<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
					<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
					<script
                    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
					<script
                    src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.min.js"></script>
					<script type="text/javascript">
						//@see https://community.plot.ly/t/live-streaming-
						// data-using-javascript/1645
						function rand() {
							  return Math.random();
						}

						var socket = new WebSocket("ws://localhost:5000");
						var traces = [];
						var consensusX = [];
						var consensusY = [];
						
						socket.onopen = function() {
							/* On socket connected */
							console.log("socket.on.connection")
							
							traces = [];
							/* Create four original traces */
							var trace1 = {
								x:[0], y:[0], mode: 'markers+lines',
								type: 'scatter',marker: {color: 'black', size: 4}
							};
							
							/* Create the plot */
							traces.push(trace1);
							Plotly.plot('chart', traces);
							console.log("Web Socket is open. sending msg");
							
							/* Tell the server I am alive */
							socket.send("hello from client");
						};

						socket.onmessage = function(s) {
							// Message received
							console.log("received msg");
							console.log(s.data);

							var t = s.data;
							var _data = t.split(":");
							var datatype = _data[0];
							console.log("Data type: " + datatype);

							if (datatype == "round") {
                //draw a horisontal line in yellow to show consensus

								console.log("A round came in");
								console.log(_data[1]);
								var data = _data[1].split(",");
								
								var newtrace = {
									x:[1, 3], // drawing a horisontal line 
									y:[data[1], data[1]], 
									mode: 'markers+lines',
									type: 'scatter',
									marker: {color: 'yellow', size: 10},
									line: {width: 4}
								};
									
								traces.push(newtrace);
								console.log(traces);

								// Create the plot
								var layout = {showlegend: false};
								Plotly.newPlot('chart', traces, layout);

							} else if (datatype == "line") {
                // draw a line between two nodes
								console.log(_data[1]);
								var data = _data[1].split(",");

								var parentx = parseInt(data[0], 10);
								console.log(parentx);
								var parenty = parseInt(data[1], 10);
								console.log(parenty);
								var nodex = parseInt(data[2], 10);
								console.log(nodex);
								var nodey = parseInt(data[3], 10);
								console.log(nodey);
								var nodecolor = data[4];
								console.log(nodecolor);
								var isConsensus = data[5];
								console.log(isConsensus);
															
								//graphing
								var myPlot = document.getElementById('chart');
								
								if (parentx == nodex && parenty == nodey) {
                  // It is a root node, make it red
									console.log("root node at x: " + nodex + 
											"y: " + nodey);	
									var newtrace = {
										x:[nodex], 
										y:[nodey], 
										mode: 'markers',
										type: 'scatter',
										marker: {color: 'red', size: 10},
										line: {width: 1}
									};
									
									traces.push(newtrace);
									console.log(traces);

									// Create the plot
									var layout = {showlegend: false};
									Plotly.newPlot('chart', traces, layout);

								} else {	
                  // it is not a root node, make it black
									var newtrace = {
										x:[parentx, nodex], 
										y:[parenty, nodey], 
										mode: 'markers+lines',
										type: 'scatter',
										marker: {color: 'black', size: 5}
									};
									if (isConsensus == 1) {
										newtrace.marker = {color: 'red', size: 5}
									}

									traces.push(newtrace);
									console.log(traces);

									// Create the plot
									var layout = {showlegend: false};
									Plotly.newPlot('chart', traces, layout);
								}
							} //End plot line

						};// end on message
						</script>

					</div>
					<div class="button">
						<form method="post" action="/test" onsubmit="this.form.submit(); return false">
							<input id="button" type="submit" name="Stop" value="Stop">
							<input id="button" type="submit" name="Start" value="Start">
							<div class="slider">
								<label for="rangeinput">Number of Nodes</label>
								<input id="rangeinput" name="slider" type="range" min="1" max="10" value="{{SliderVal}}" onchange="rangevalue.value=value; this.form.submit()"></input>
								<output type="text" id="rangevalue" onchange="rangeinput.value=value">{{SliderVal}}</output>
							</div>
						</form>
					</div>

				</center>
			</div>
		</body>
	</html>
